stages:
  - build_artifact
  - build_image
  - upload_image

variables:
  APP_SERVICE_BASE_DIR: "app/service"
  APP_WEB_BASE_DIR: "app/web"
  BUN_IMAGE_TAG: "1.3.5-alpine"
  DOCKER_IMAGE_TAG: "29-dind"

workflow:
  rules:
    - if: $CI_COMMIT_TAG
      variables:
        APP_VERSION: "${CI_COMMIT_TAG}"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        APP_VERSION: "main-${CI_COMMIT_SHORT_SHA}"
    - if: $CI_COMMIT_BRANCH
      variables:
        APP_VERSION: "branch-${CI_COMMIT_SHORT_SHA}"

build_web_artifact:
  stage: build_artifact
  image: oven/bun:${BUN_IMAGE_TAG}
  cache:
    key: ${CI_COMMIT_REF_SLUG}-web
    paths:
      - node_modules/
      - ${APP_WEB_BASE_DIR}/node_modules/
  variables: 
    NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${WEB_NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
  before_script:
    - bun install
  script:
    - bun run build --filter ./app/web
  artifacts:
    paths:
      - ${APP_WEB_BASE_DIR}/.next/
    expire_in: 1 hour

build_service_artifact:
  stage: build_artifact
  image: oven/bun:${BUN_IMAGE_TAG}
  cache:
    key: ${CI_COMMIT_REF_SLUG}-service
    paths:
      - node_modules/
      - ${APP_SERVICE_BASE_DIR}/node_modules/
  before_script:
    - bun install
  script:
    - bun run build --filter ./app/service
  artifacts:
    paths:
      - ${APP_SERVICE_BASE_DIR}/dist/
    expire_in: 1 hour

build_web_image:
  stage: build_image
  image: docker:${DOCKER_IMAGE_TAG}
  services:
    - docker:${DOCKER_IMAGE_TAG}
  needs:
    - build_web_artifact
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  variables:
    IMAGE_TAG: ${AWS_ECR_REPOSITORY}/web:${APP_VERSION}
  script:
    - echo "IMAGE_TAG - ${IMAGE_TAG}"
    - docker build -f docker/Dockerfile.app.web -t ${IMAGE_TAG} ${APP_WEB_BASE_DIR}
    - mkdir -p docker-images
    - docker save ${IMAGE_TAG} -o docker-images/web.tar
  artifacts:
    paths:
      - docker-images/web.tar
    expire_in: 1 hour

build_service_image:
  stage: build_image
  image: docker:${DOCKER_IMAGE_TAG}
  services:
    - docker:${DOCKER_IMAGE_TAG}
  needs:
    - build_service_artifact
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  variables:
    IMAGE_TAG: ${AWS_ECR_REPOSITORY}/service:${APP_VERSION}
  script:
    - echo "IMAGE_TAG - ${IMAGE_TAG}"
    - docker build -f docker/Dockerfile.app.service -t ${IMAGE_TAG} ${APP_SERVICE_BASE_DIR}
    - mkdir -p docker-images
    - docker save ${IMAGE_TAG} -o docker-images/service.tar
  artifacts:
    paths:
      - docker-images/service.tar
    expire_in: 1 hour

upload_web_image:
  stage: upload_image
  image: docker:${DOCKER_IMAGE_TAG}
  services:
    - docker:${DOCKER_IMAGE_TAG}
  needs:
    - build_web_image
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - apk add --no-cache aws-cli
    - echo "Configuring AWS CLI..."
    - aws configure set aws_access_key_id ${AWS_ACCESS_KEY_ID}
    - aws configure set aws_secret_access_key ${AWS_SECRET_ACCESS_KEY}
    - aws configure set default.region ${AWS_REGION}
    - echo "Logging into ECR..."
    - aws ecr get-login-password --region ${AWS_REGION} | docker login --username AWS --password-stdin ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com
  script:
    - echo "Loading web image from artifact..."
    - docker load -i docker-images/web.tar
    - echo "Pushing web image to ECR..."
    - docker tag ${AWS_ECR_REPOSITORY}/web:${APP_VERSION} ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${AWS_ECR_REPOSITORY}:web.${APP_VERSION}
    - docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${AWS_ECR_REPOSITORY}:web.${APP_VERSION}
    - echo "Web image pushed successfully!"
  after_script:
    - echo "Cleaning up..."
    - docker rmi ${AWS_ECR_REPOSITORY}/web:${APP_VERSION} || true
    - docker rmi ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${AWS_ECR_REPOSITORY}:web.${APP_VERSION} || true

upload_service_image:
  stage: upload_image
  image: docker:${DOCKER_IMAGE_TAG}
  services:
    - docker:${DOCKER_IMAGE_TAG}
  needs:
    - build_service_image
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - apk add --no-cache aws-cli
    - echo "Configuring AWS CLI..."
    - aws configure set aws_access_key_id ${AWS_ACCESS_KEY_ID}
    - aws configure set aws_secret_access_key ${AWS_SECRET_ACCESS_KEY}
    - aws configure set default.region ${AWS_REGION}
    - echo "Logging into ECR..."
    - aws ecr get-login-password --region ${AWS_REGION} | docker login --username AWS --password-stdin ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com
  script:
    - echo "Loading service image from artifact..."
    - docker load -i docker-images/service.tar
    - echo "Pushing service image to ECR..."
    - docker tag ${AWS_ECR_REPOSITORY}/service:${APP_VERSION} ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${AWS_ECR_REPOSITORY}:service.${APP_VERSION}
    - docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${AWS_ECR_REPOSITORY}:service.${APP_VERSION}
    - echo "Service image pushed successfully!"
  after_script:
    - echo "Cleaning up..."
    - docker rmi ${AWS_ECR_REPOSITORY}/service:${APP_VERSION} || true
    - docker rmi ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${AWS_ECR_REPOSITORY}:service.${APP_VERSION} || true

