workflow:
  rules:
    - if: $CI_COMMIT_TAG
      variables:
        ENVIRONMENT: production
        APP_VERSION: "${CI_COMMIT_TAG}"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        APP_VERSION: "main-${CI_COMMIT_SHORT_SHA}"
        ENVIRONMENT: staging
    - if: $CI_COMMIT_BRANCH
      variables:
        APP_VERSION: "branch-${CI_COMMIT_SHORT_SHA}"
        ENVIRONMENT: staging

variables:
  BUN_IMAGE_TAG: "1.3.5-alpine"
  DOCKER_IMAGE_TAG: "29-dind"

include:
  - local: ".gitlab/base.yml"

stages:
  - build_artifact
  - build_image
  - upload_image

build_web_artifact:
  extends: .build_artifact
  variables:
    APP_NAME: web
    BUILD_DIR_NAME: .next

build_service_artifact:
  extends: .build_artifact
  variables:
    APP_NAME: service
    BUILD_DIR_NAME: dist

build_web_image:
  extends: .build_image
  needs:
    - build_web_artifact
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  variables:
    APP_NAME: web

build_service_image:
  extends: .build_image
  needs:
    - build_service_artifact
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  variables:
    APP_NAME: service

upload_web_image:
  extends: .upload_image
  needs:
    - build_web_image
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  variables:
    APP_NAME: web

upload_service_image:
  extends: .upload_image
  needs:
    - build_service_image
  rules:
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  variables:
    APP_NAME: service
