name: flow-machine

services:
  mongo:
    image: mongo:8.2.3-noble
    container_name: flow-machine-mongo
    ports:
      - "27017:27017"
    command: ["--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: |
        mongosh --eval "
          try {
            rs.status().ok
          } catch(e) {
            rs.initiate({_id: 'rs0', members: [{_id: 0, host: 'localhost:27017'}]})
          }
        " --quiet
      interval: 5s
      timeout: 30s
      retries: 10
      start_period: 10s

volumes:
  mongo-data:
